[preset.1]

script_encryption_key=""

[preset.1.options]

keystore/debug=""
keystore/debug_user=""
keystore/debug_password=""
keystore/release="KEYSTORE_RELEASE_PATH"
keystore/release_user="ANDROID_KEYSTORE_ALIAS"
keystore/release_password="ANDROID_KEYSTORE_PASSWORD"
