name: Version increase
on:
   schedule:
     - cron: "1 1 2 1,4,8 *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: version up
      run: |
        echo $(($(cat version) + 1)) > version
    - name: Commit files
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git commit -a -m "Version increase"
    - name: Push changes
      uses: ad-m/github-push-action@master
